
@import 'react-image-crop/dist/ReactCrop.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 218 73% 17%;

    --card: 0 0% 100%;
    --card-foreground: 218 73% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 218 73% 17%;

    --primary: 195 53% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 195 53% 45%;

    --radius: 0.5rem;
  }

  .midnight {
    --background: 220 13% 18%;
    --foreground: 210 40% 98%;

    --card: 220 13% 18%;
    --card-foreground: 210 40% 98%;

    --popover: 220 13% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 195 53% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 216 12% 24%;
    --secondary-foreground: 210 40% 98%;

    --muted: 216 12% 24%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 216 12% 24%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 216 12% 24%;
    --input: 216 12% 24%;
    --ring: 195 53% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6, .font-headline {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  [role="img"]:focus {
    outline: none;
  }
}
